In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
sales = pd.read_csv('supermarket_sales - Sheet1.csv')

In [3]:
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
sales.shape

(1000, 17)

In [5]:
sales.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [6]:
sales.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [7]:
sales['Date'] = pd.to_datetime(sales['Date'])

In [8]:
sales['Date']

0     2019-01-05
1     2019-03-08
2     2019-03-03
3     2019-01-27
4     2019-02-08
         ...
995   2019-01-29
996   2019-03-02
997   2019-02-09
998   2019-02-22
999   2019-02-18
Name: Date, Length: 1000, dtype: datetime64[ns]

In [9]:
sales.dtypes

Invoice ID                         object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                            int64
Tax 5%                            float64
Total                             float64
Date                       datetime64[ns]
Time                               object
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
dtype: object

In [10]:
sales.set_index('Date', inplace = True)

In [11]:
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,cogs,gross margin percentage,gross income,Rating
Date,,,,,,,,,,,,,,,,
2019-01-05,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2019-03-08,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6
2019-03-03,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4
2019-01-27,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4
2019-02-08,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [12]:
sales.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [13]:
sales.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [14]:
avg_unit_price = sales['Unit price'].astype("float").mean(axis = 0)
sales["Unit price"].replace(np.nan, avg_unit_price, inplace = True)

In [15]:
from scipy import stats
mode = stats.mode(sales['Quantity'])
print(mode)

ModeResult(mode=10, count=119)

In [16]:
sales['Quantity'].replace(np.nan, "mode", inplace = True)

In [17]:
sales.dropna(inplace = True)

In [18]:
sales.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [19]:
sales.corr

<bound method DataFrame.corr of              Invoice ID Branch       City Customer type  Gender  \
Date
2019-01-05  750-67-8428      A     Yangon        Member  Female
2019-03-08  226-31-3081      C  Naypyitaw        Normal  Female
2019-03-03  631-41-3108      A     Yangon        Normal    Male
2019-01-27  123-19-1176      A     Yangon        Member    Male
2019-02-08  373-73-7910      A     Yangon        Normal    Male
...                 ...    ...        ...           ...     ...
2019-01-29  233-67-5758      C  Naypyitaw        Normal    Male
2019-03-02  303-96-2227      B   Mandalay        Normal  Female
2019-02-09  727-02-1313      A     Yangon        Member    Male
2019-02-22  347-56-2442      A     Yangon        Normal    Male
2019-02-18  849-09-3807      A     Yangon        Member  Female

                      Product line  Unit price  Quantity   Tax 5%      Total  \
Date
2019-01-05       Health and beauty       74.69         7  26.1415   548.9715
2019-03-08  Electronic accessories       15.28         5   3.8200    80.2200
2019-03-03      Home and lifestyle       46.33         7  16.2155   340.5255
2019-01-27       Health and beauty       58.22         8  23.2880   489.0480
2019-02-08       Sports and travel       86.31         7  30.2085   634.3785
...                            ...         ...       ...      ...        ...
2019-01-29       Health and beauty       40.35         1   2.0175    42.3675
2019-03-02      Home and lifestyle       97.38        10  48.6900  1022.4900
2019-02-09      Food and beverages       31.84         1   1.5920    33.4320
2019-02-22      Home and lifestyle       65.82         1   3.2910    69.1110
2019-02-18     Fashion accessories       88.34         7  30.9190   649.2990

             Time      Payment    cogs  gross margin percentage  gross income  \
Date
2019-01-05  13:08      Ewallet  522.83                 4.761905       26.1415
2019-03-08  10:29         Cash   76.40                 4.761905        3.8200
2019-03-03  13:23  Credit card  324.31                 4.761905       16.2155
2019-01-27  20:33      Ewallet  465.76                 4.761905       23.2880
2019-02-08  10:37      Ewallet  604.17                 4.761905       30.2085
...           ...          ...     ...                      ...           ...
2019-01-29  13:46      Ewallet   40.35                 4.761905        2.0175
2019-03-02  17:16      Ewallet  973.80                 4.761905       48.6900
2019-02-09  13:22         Cash   31.84                 4.761905        1.5920
2019-02-22  15:33         Cash   65.82                 4.761905        3.2910
2019-02-18  13:28         Cash  618.38                 4.761905       30.9190

            Rating
Date
2019-01-05     9.1
2019-03-08     9.6
2019-03-03     7.4
2019-01-27     8.4
2019-02-08     5.3
...            ...
2019-01-29     6.2
2019-03-02     4.4
2019-02-09     7.7
2019-02-22     4.1
2019-02-18     6.6

[1000 rows x 16 columns]>

In [25]:
print(sales.dtypes)
numerical_sales = sales.select_dtypes(include=['float64', 'int64'])
import numpy as np
correlation_matrix = np.round(numerical_sales.corr(), 2)
print(correlation_matrix)

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object
                         Unit price  Quantity  Tax 5%  Total  cogs  \
Unit price                     1.00      0.01    0.63   0.63  0.63
Quantity                       0.01      1.00    0.71   0.71  0.71
Tax 5%                         0.63      0.71    1.00   1.00  1.00
Total                          0.63      0.71    1.00   1.00  1.00
cogs                           0.63      0.71    1.00   1.00  1.00
gross margin percentage         NaN       NaN     NaN    NaN   NaN
gross income                   0.63      0.71    1.00   1.00  1.00
Rating                        -0.01     -0.02   -0.04  -0.04 -0.04

                         gross margin percentage  gross income  Rating
Unit price                                   NaN          0.63   -0.01
Quantity                                     NaN          0.71   -0.02
Tax 5%                                       NaN          1.00   -0.04
Total                                        NaN          1.00   -0.04
cogs                                         NaN          1.00   -0.04
gross margin percentage                      NaN           NaN     NaN
gross income                                 NaN          1.00   -0.04
Rating                                       NaN         -0.04    1.00

In [26]:
sales['column_name'] = pd.to_numeric(sales['column_name'], errors='coerce')

KeyError: 'column_name'